include README
include AUTHORS
include INSTALL
include LICENSE
include MANIFEST.in
include bin/tstorm-tp
include bin/tstorm-test-id
include sbin/tstorm-setup.sh
include conf/tstorm.ini
include conf/tstorm-tier1.ini
include conf/tstorm-tp.json
include conf/tstorm-tp.json.template
recursive-include tstorm/utils *
recursive-include tstorm/test *
