include README
include AUTHORS
include INSTALL
include LICENSE
include MANIFEST.in
include bin/tstorm-tp
include bin/tstorm-test-id
include sbin/tstorm-setup.sh
include conf/tstorm.ini
include conf/tstorm-tp.json
include conf/tstorm-tp.json.template
include conf/map_test_id.json
include t-storm.spec
recursive-include tstorm/commands *
recursive-include tstorm/utils *
recursive-include tstorm/tests *
recursive-include tstorm/tests/deployment *
recursive-include tstorm/tests/deployment/regression *
