include README
include AUTHORS
include INSTALL
include LICENSE
include MANIFEST.in
include bin/tstorm-http-tc
include bin/tstorm-tc
include bin/tstorm-rt
include sbin/tstorm-setup.sh
include conf/tstorm.ini
include conf/8_digit_string_checksum.ini
recursive-include tstorm/utils *
recursive-include tstorm/test *
